
.points{
    color: #cccccc;
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 22px;
}

.Start_page_firstBox {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #1c1c1c;
  border-radius: 10px;
  position: relative;
  left: 60%;
  margin-top: 2rem;
}

.First_box_heading{
    display: inline;
    padding: 0rem 0px;
    margin: 0rem -1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #FFFFFF
}

.second_box_heading{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 40px;

padding: 0;
margin: 1rem 0;



  color: #ffffff;
}

.Start_page_firstBox_points {
  margin: 1rem 0px;
}

.Start_page_secondBox {
  margin: 0 2rem;
}

.third_heading {
  display: flex;
  margin: 1rem 0;
}

.Start_page_thirdBox_heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #C4C4C4;
    margin: 3rem 0px;
}

.third_text{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 28px;
margin-bottom: 1rem;

color: #C4C4C4;
}

.third_text_result{
    font-family: 'Inter';
    padding: 0;
    position: relative;
    left: 75%;
    
font-style: normal;
font-weight: 300;
font-size: 28px;

margin: 1rem;
color: #C4C4C4;
}
