.homeDetailContainer,
.homeDetailContainer > p {
  margin: 25px 0px;
}

.homeDetailContainer > h2,
.homeDetailContainer > p {
  width: 100%;
  font-size: 0.9em;
}

.header{
  display: flex;
    align-items: center;
    border: 2px dashed #868181;
border-radius: 15px;
padding: 1rem;
margin: 2rem;
}

.info_header{
  padding: 0rem 3rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #C5C1C1;
}

.formField__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  margin-bottom: 10px;
}

.formField__grid label {
  font-size: 1rem;
  font-weight: 500;
}

.formField__grid > div {
  display: flex;
  align-items: center;
}

.formField__grid input,
.formField__grid label input,
.formField__grid select {
  outline: none;
  border: none;
  width: 12rem;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  font-size: 1rem;

  margin-left: 1rem;
}
