.formContainer > form > div {
  margin: 1rem 0rem;
}

.entry__radioFormGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.entry__radioFormGroup label {
  margin-left: 1rem;
}

.entry__radioFormGroup input {
  margin-right: 0.25rem;
}

.entry__capitalFormGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.entry__capitalFormGroup > div {
  margin-left: 1rem;
  width: 25rem;
  border-radius: 5px;
  padding: 5px;
}

.formContainer > form > .entry__entryFormGroup {
  margin-top: 5rem;
  width: 90%;
}

.entryFormGroup__row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 2rem 0rem;
}

.entryFormGroup__row > p {
  flex-grow: 0;
}
.entryFormGroup__row > * {
  flex-grow: 1;
  margin-right: 1rem;
}
.entryFormGroup__row > div > select {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.entry__editRuleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry__editRuleBtn > * {
  margin-right: 0.75rem !important;
}

.entry__routeBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 0rem;
}

.entry_Pheads{
  color: #C5C1C1;
  text-decoration: underline;
  font-family: 'Play';
}

.entry_entryRule_text{
  display: flex;
  align-items: center;
}

.entry_input_indicator{
  height: 3rem;
    margin-top: 5px;
  width: 6rem;
    padding: 0 10px;
    border-radius: 8px;
}

.entry_ref{
  display:flex ;
  justify-content: center;
  align-items: center;
}

.entry_reference {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.entry_upperCard {
  display: flex;
  align-items: center;
}

.entry_referenceBox {
  border: 2px dashed #868181;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
}

.entry_infoIcon {
  border: 2px dashed #868181;
  border-radius: 15px;
  padding: 6rem 2rem;
}

.entry_firstForm {
  display: flex;
  align-items: center;
}

.entry_firstForm > p {
  color: var(--grayColor);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.hide {
  visibility: hidden;
}
