@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --borderColor: #e3c8c8;
  --brandColor: #6966ff;
  --whiteColor: #fff;
  --blackColor: #000;
  --grayColor: #c5c1c1;
}

input {
  z-index: 100000;
}

a,
button {
  cursor: pointer;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  background: black;
}
.container {
  position: relative;
  width: 100%;
  /* background-color: black; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #4070f4;
}
.container form {
  position: relative;
  margin: 2.5rem 0rem;
  background-color: transparent;
  z-index: 10;
}
.container form .form {
  position: absolute;
  background-color: black;
  transition: 0.3s ease;
}
.container form .form.second {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
form.secActive .form.second {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
form.secActive .form.first {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #fff;
}

.container form .fields {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container form .fields .input-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-grow: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.container form .fields .input-field label {
  margin-right: 20px;
  font-weight: 800;
  font-size: 0.9rem;
  line-height: 22px;
}

.input-field{
  margin: 0.5rem 0;
}

.input-field label {
  width: max-content;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.input-field input,
select {
  width: 74%;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field select,
.input-field input[type="date"] {
  color: #707070;
}
.input-field input[type="date"]:valid {
  color: #333;
}

.container form button,
.backBtn {
  position: relative;
  left: 10%;
  outline: none;
  color: #fff;
  transition: all 0.3s linear;
  cursor: pointer;
}

.container form .btnText {
  font-size: 14px;
  font-weight: 400;
}
form button:hover {
  background-color: #265df2;
}
form button i,
form .backBtn i {
  margin: 0 6px;
}
form .backBtn i {
  transform: rotate(180deg);
}
form .buttons {
  display: flex;
  align-items: center;
}
form .buttons button,
.backBtn {
  margin-right: 14px;
}

@media (max-width: 750px) {
  .container form {
    overflow-y: scroll;
  }
  .container form::-webkit-scrollbar {
    display: none;
  }
  form .fields .input-field {
    width: calc(100% / 2 - 15px);
  }
}

@media (max-width: 550px) {
  form .fields .input-field {
    width: 100%;
  }
}
label {
  color: #fff;
}

.shade {
  position: absolute;
  width: 442.49px;
  height: 1372.57px;
  left: 83.83px;
  top: -300.62px;
  transform: rotate(-135deg);
  background: linear-gradient(
    180deg,
    rgba(105, 102, 255, 0.3) 0%,
    rgba(196, 196, 196, 0) 63.85%
  );
  z-index: 1;
}

.alert {
  color: #fff;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  width: 100%;
}
.details-inner {
  display: flex;
  justify-content: space-between;
  width: 33.33%;
}
.details-inner .input-field input {
  width: 90%;
}
.details-inner .nextBtn {
  width: 90%;
  margin: 0;
}
.details-inner .entry-parameters,
.details-inner .exit-parameters {
  width: 50%;
}
h3 {
  color: #fff;
}
.how-to {
  width: 50%;
  color: white;
  padding-left: 80px;
}
/* form .details-ID .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
} */
.Trigger {
  padding: 8px;
}
.link {
  cursor: pointer;
  z-index: 100;
}
.link > button {
  cursor: pointer;
  z-index: 100;
  color: white;
}

.chartTooltip {
  /* padding: 1rem; */
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chartTooltip p {
  color: black;
  font-weight: 400;
}
.chartTooltip p span {
  font-weight: 600;
  margin-right: 5px;
}
